neuroconv @ git+https://github.com/CatalystNeuro/neuroconv@main
spikeinterface @ git+https://github.com/SpikeInterface/spikeinterface@main
neo @ git+https://github.com/NeuralEnsemble/python-neo@master
# Temporary requirements, we will fix by the next release of spikeinterface and neo
